.videoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 70%;
  max-width: 350px;
  color: white;
  z-index: 9;
}

.videoHeader > * {
  padding: 20px;
}
